<div class = "dealTitle">

  </div>

  <div class = "deals">
      <% @deals.each do |deal| %>

        <div class = "dealImage">

          <img src="<%= deal['image_url'] %>" alt="">

        </div>

        <div class = "dealDescription">

          <a href= "/deals/<%= deal['id'] %>"><h2><%= deal['name'] %></h2></a>

          <p><%= deal.description %></p>

        </div>

        <hr>

      <% end %>

  </div>

</div>
