<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

  <% if logged_in?%>
       <h1> Hi <%= current_user.email %></h1>
      <% else%>
  <h1> <%= session[:user_id] %></h1>
  <% end %>

  <!-- Index page where all deals are shown regardless of logged in or logged out -->
<%= yield %>

</body>
