<h1>My deals</h1>

<% @deals.each do |deal| %>

  <p><%= deal.name %></p>

  <img src="<%= deal.image_url %>" alt="">

  <p><%= deal.description %></p>

  <p><a href="/deals/<%= deal['id'].to_i %>/edit"><button>Edit</button></a><p>

<% end %>
