
<div id = "createDeal">

  <form action="/deal/new" method="post">

    <p><label for="name">Name</label>
    <input type="text" name="name"></p>

    <p><label for="image_url">Image url</label>
    <input type="text" name="image_url"></p>

    <p><label for="description">Description</label>
    <textarea name="description" rows="5" cols="42"></textarea></p>

    <p><label for="url">URL</label>
    <input type="text" name="url"></p>

    <button>Create New Deal</button>

  </form>

</div>
