<form action="/deal/new" method="post">

  <label for="name">name</label>
  <input type="text" name="name">

  <label for="image_url">image url</label>
  <input type="text" name="image_url">

  <label for="description">description</label>
  <textarea name="description" rows="5" cols="30"></textarea>

  <label for="url">url</label>
  <input type="text" name="url">

  <button>Create New Deal</button>
</form>
